/* 清除格式 */
* {
    margin: 0;
    padding: 0;
}

/* 让块级盒子水平居中——版心 */
.w {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #f3f5f7;
    height: 3000px;
}

/* 清除列表的点 */
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    height: 42px;
    background-color: #f3f5f7;
    /* 注意：这里的margin会层叠w，左右要设置为auto，才能继续居中 */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    background-color: purple;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff
}

/* search模块 ，注意行内块元素之间有缝隙，所以要在input和button添加浮动*/
.search {
    float: left;
    width: 412px;
    height: 42px;
    background-color: #00a4ff;
    margin-left: 94px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
}

.search button {
    float: left;
    width: 51px;
    height: 42px;
    /* 去除button的边框 */
    border: 0;
    background: url(images/btn.png);
}

.user {
    float: left;
    line-height: 42px;
    margin-left: 30px;
    font-size: 14px;
    color: #666666;

}

.banner {
    height: 420px;
    background: #1c036c;
}

.banner .w {

    height: 420px;
    background-color: pink;
    background: url(images/banner2.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background: #13014b
}

/* 这里给li设置高度，不能给a，因为a是行内元素，无法设置高度 */
.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {
    font-style: 14px;
    color: #ffffff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.w .course {
    float: right;
    width: 231px;
    height: 300px;
    background-color: pink;
    margin-top: 50px;
}

.w .course h2 {
    height: 48px;
    background-color: #9bceea;
    line-height: 48px;
    text-align: center;
    color: #ffffff;

}

.w .course .bd {
    padding: 0 20px;
}

.w .course .bd h3 {
    font-size: 16px;
    color: #4e4e4e;
}

.w .course .bd p {
    font-size: 14px;
    color: #a5a5a5;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #ccc;
}

.bd .more {
    /* display: inline-block; */
    display: block;
    height: 38px;
    border: 1px solid #22b0ff;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;

}

/* 3.精品课程模块开始啦 */
.goods {
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.2);
    margin-top: 10px;
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.goods .mod {
    float: right;
    margin-right: 26px;
    font-size: 14px;
    color: #00a4ff;
}

/* 3.精品课程模块结束啦 */
/* 4.box核心内容模块开始啦 */
.box {
    margin-top: 37px;
}

.box .box-hd {
    height: 40px;
}

.box .box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .box-hd a {
    float: right;
    margin-right: 35px;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
}
/*把li的父亲ul修改的足够宽，一次能装五个盒子，这样就不会到下一行了  */
.box .box-bd ul{
    width: 1215px;
}
.box .box-bd ul li{
    float: left;
    width: 228px;
    height: 270px;
    background-color: pink;
    margin-right: 15px;
    margin-bottom: 15px;
}

/* 4.box核心内容模块结束啦 */